<% provide(:title, "About") %>
    <h1>About Us</h1>
    <p>
      The <a href="https://www.newsweek.com/worlds-bananas-are-clones-and-they-are-imminent-danger-publish-monday-5am-1321787"><em>Fungus Among Us</em></a> is a
      movement that is trying to bring attention to the fact that OUR BANANAS ARE UNDER ATTACK!!!
    </p>
    <p>
    In recent years the overconsumption of bananas have caused modern science to do the impossible; They have cloned our bananas.Now this would be fine, but modern science can’t do what nature has perfected and our ‘artificial’ bananas have been compromised by a fungus called Fusarium oxysporum cubense. This Fungus infects the plants’ root and vascular system, unable to transport water and nutrients, the banana trees wilt and die. Our Organization is a ‘bunch’ of banana loving fanatics and won’t be able to live without bananas, So please join our cause and help us defeat this fungus and walk for something that really matters, avoiding a bananaless planet
    </p>

