<% provide(:title, "Contact") %>
<h1>Contact Us</h1>
<br>
<hr class="bigHr">
<br>
<h4>
<p>Call Us: &nbsp &nbsp 1-800-867-5309<br><br>
E-Mail:&nbsp &nbsp FungusAmongUs@AOL.net
</p>
<br>
<br>
<div class="container">
  <form action="action_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">
    <br>
    <br>
    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    <br>
    <br>
    <br>
    <br>
    
    <table><tr><td><label for="subject">Message &nbsp &nbsp &nbsp &nbsp</label></td></tr>
    <tr><td><textarea id="subject" name="subject" placeholder="Write something.." style="height: 260px; width:1060px">
    </textarea></td></tr>
    </table>
    
    
<br>
    
    <%= link_to "Give Feedback", success_path, class: "btn btn-default" %>

  </form>
</div>
</h4>

