<div class="center jumbotron">
  <h1>Join us for an exhilarating 5K race on June 22nd, 2019!</h1>

  <h2>
    Join us for an exhilarating 5K race on June 22nd, 2019! The race will be hosted on James Island going towards Folly Beach. All proceeds will go towards the non-profit organization, Fungus Among Us (FAU). If you wish to register, please hit the button below and fill out the form before June 20th. Get ready to race to the finish!
  </h2>
 <%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


