
<% provide(:title, "photos") %>
    <h1>Check Out Our Community</h1>

    
<img alt="Fungus Among Us" src="/assets/pic1.png" />    

<img alt="Fungus Among Us" src="/assets/pic2.png" />

<img alt="Fungus Among Us" src="/assets/pic3.png" />

<img alt="Fungus Among Us" src="/assets/pic4.png" />

<img alt="Fungus Among Us" src="/assets/pic5.png" />

<img alt="Fungus Among Us" src="/assets/pic6.png" />

<img alt="Fungus Among Us" src="/assets/pic7.png" />

<img alt="Fungus Among Us" src="/assets/pic8.png" />

