<% provide(:title, 'RaceInfo') %>
<h1>Information</h1>
<p>
 The race starts at 121 E Arctic Ave on June 22, 2019.<br><br>
 Registration begins at 6:30 am and the race will begin at 8:00 am, Awards and Lunch to follow!!  Admissions are $25 per person and will be paid at event.
</p>
<img alt="Fungus Among Us" src="/assets/route.png" />
