<% provide(:title, "Create User Account") %>
<% provide(:button_text, 'Register for the Race') %>
<h1>Create User Account</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :team, "Team Name" %>
      <%= f.text_field :team, class: 'form-control' %>
    
      <%= f.label :name, "Your Name" %>
      <%= f.text_field :name, class: 'form-control' %>
    
      <%= f.label :email, "Email Address" %>
      <%= f.email_field :email, class: 'form-control' %>
    
      <%= f.label :age, "Your Age" %>
      <%= f.number_field :age, class: 'form-control' %>
    
      <%= f.label :phone, "Phone Number" %>
      <%= f.telephone_field :phone, class: 'form-control' %>
    
      <%= f.label :password, "Password" %>
      <%= f.password_field :password, class: 'form-control' %>
    
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
    <br>
    <p>Registered runner? <%= link_to "Log in to your account!", login_path %></p>
  </div>
</div>
