<footer class="footer">
  <small>
    The <a href="https://www.delish.com/food-news/a43306/bananas-extinct-fungal-disease/">Fungus Among Us
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.newsweek.com/worlds-bananas-are-clones-and-they-are-imminent-danger-publish-monday-5am-1321787">News</a></li>
    </ul>
  </nav>
</footer>
